<!-- <h1>Editing User</h1>

<%#= render 'form', user: @user %>

<%##= link_to 'Show', @user %> |
<%#= link_to 'Back', users_path %>
 -->
 <h2> The user has been modified </h2>
 <%= link_to 'Back', users_path %>